[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-dotenv = "*"
requests = "*"
six = "*"
Flask = "*"
Authlib = ">=0.14.1"
opencv-contrib-python = "==4.2.0.34"
imutils = "*"
numpy = "*"
opencv-contrib-python-headless = "*"
cv2 = "*"

[requires]
python_version = "3.8"
