<html>
	<head>
		<script type="text/javascript"
		 	src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js">
 	 	</script>
	</head>
    <div>
        <h1 >Welcome</h1>
        <img class="avatar" src="{{userinfo['picture']}}"/>
    </div>
      <head>
        <title>Webcam Streaming video.</title>
      </head>

<body>
<img id="image">
<script>

    var socket = io.connect('http://mighty-beach-20841.herokuapp.com/:5001'+'/web', {
      reconnection: false
    });

    socket.on('connect', () => {
      console.log('Connected');
    });

    socket.on('disconnect', () => {
      console.log('Disconnected');
    });

    socket.on('connect_error', (error) => {
      console.log('Connect error! ' + error);
    });

    socket.on('connect_timeout', (error) => {
      console.log('Connect timeout! ' + error);
    });

    socket.on('error', (error) => {
      console.log('Error! ' + error);
    });

    // Update image and text data based on incoming data messages
    socket.on('server2web', (msg) => {
      const image = document.getElementById('server2web');
	  image.src = `msg:image/jpeg;base64,${msg}`
    });
  });
</script>
  <!--<body>
    <h1>Webcam Streaming video.</h1>
		<div style="width: 70%">
        	<img id="streamer-image" src="">
      	</div>

    <img src="{{ url_for('video_feed') }}">
    <a href="/home">Main Page</a>
    <a href="/logout">Logout</a>
</body> -->
<a href="/home">Main Page</a>
<a href="/logout">Logout</a>
</body>
</html>
